.settings-form {
    margin: 25px;

    .setting-card {
        border-radius: 10px;
        color: var(--c-white);
        background-color: var(--c-mediumDarkShadeCyanBlue);

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        .setting-header {
            padding-left: 25px;
            border-radius: 10px 10px 0 0;
            background-color: var(--c-smallMediumDarkShadeCyanBlue);

            h2 {
                margin: 0;
                font-weight: 700;
                font-size: 1.2rem;
                padding: 15px 0 0 0;
            }

            .small-text {
                margin-top: 0;
                font-weight: 500;
                font-size: 0.8rem;
                padding: 5px 0 20px 0;
                color: var(--c-silver);
            }
        }
    }
}