/* ---------------------------------------- *\
                Background-Color
\* ---------------------------------------- */
.bg-white {
    background-color: var(--c-white);
}

.bg-lightGrayishBlue {
    background-color: var(--c-lightGrayishBlue);
}

.bg-aliceBlue {
    background-color: var(--c-aliceBlue);
}

.bg-lightGrey {
    background-color: var(--c-lightGrey);
}

.bg-night {
    background-color: var(--c-night);
}

.bg-midnight {
    background-color: var(--c-midnight);
}