/* ---------------------------------------- *\
                    Button
\* ---------------------------------------- */
.btn {
    cursor: pointer;

    &.btn-logout {
        padding: 5px 35px;
        color: var(--c-red);
        border-radius: 25px;
        background-color: transparent;
        border: 1px solid var(--c-red);
    
        &:hover {
            color: var(--c-white);
            background-color: var(--c-red);
        }
    }

    &.btn-danger {
        color: var(--c-white);
        border: 1px solid var(--c-darkRed);
        background-color: var(--c-darkRed);
    
        &:hover {
            color: var(--c-darkRed);
            background-color: transparent;
        }
    }
    
    &.btn-custom-green {
        height: 34px;
        width: 185px;
        font-size: 16px;
        text-align: center;
        border-radius: 7px;
        line-height: 1.25rem;
        color: var(--c-white);
        text-decoration: none;
        background-color: var(--c-green);
        border: 2px solid var(--c-green);
    
        &:hover {
            color: var(--c-green);
            background-color: var(--c-white);
        }
    }
    
    &.btn-custom-danger {
        height: 34px;
        width: 185px;
        font-size: 16px;
        border-radius: 7px;
        text-align: center;
        line-height: 1.25rem;
        color: var(--c-white);
        text-decoration: none;
        background-color: var(--c-red);
        border: 2px solid var(--c-red);
    
        &:hover {
            color: var(--c-red);
            background-color: var(--c-white);
        }
    }
    
    &.btn-custom-midnight {
        text-align: center;
        height: 34px;
        max-width: 185px;
        color: var(--c-white);
        background-color: var(--c-sadBlue);
        text-decoration: none;
        border-radius: 7px;
        border: 2px solid var(--c-sadBlue);
        font-size: 16px;
        line-height: 1.25rem;
    
        &:hover {
            color: var(--c-sadBlue);
            background-color: var(--c-white);
        }
    }
    
    &.btn-custom-blue {
        max-width: 250px;
        width: 100%;
        height: 40px;
        border-radius: 10px;
        color: var(--c-white);
        vertical-align: middle;
        box-shadow: 1px 2px 4px var(--c-steelGrey);
        background-color: var(--c-blue);
    
        &:hover {
            color: var(--c-white);
        }
    
        span {
            text-transform: uppercase;
            font-size: .9rem;
            vertical-align: middle;
        }
    }
    
    @media(max-width: 768px) {
        &.btn-custom-midnight {
            height: auto;
        }
    
        &.btn-custom-green, 
        &.btn-custom-danger {
            width: auto;
            padding: 5px 25px;
        }
    }
}