/* ---------------------------------------- *\
                    Color
\* ---------------------------------------- */
.c-cyanBlue {
    color: var(--c-cyanBlue);
}

.c-red {
    color: var(--c-red);
}

.c-green {
    color: var(--c-green);
}

.c-orange {
    color: var(--c-orange);
}

.c-white {
    color: var(--c-white);
}

.c-lightSilver {
    color: var(--c-lightSilver);
}