/* ---------------------------------------- *\
                    Texte
\* ---------------------------------------- */
.txt-bold {
    font-weight: 600;
}

.txt-size-middle {
    font-size: 1.3rem !important;
}

.txt-center {
    text-align: center;
}

.txt-small {
    font-size: 14px;
    color: var(--c-lightSilver);
}