/* ---------------------------------------- *\
                    Width
\* ---------------------------------------- */
.w-100px {
    width: 100px;
    margin-bottom: 10px;
}

.w-150px {
    width: 150px !important;
    margin-bottom: 10px;
}

.w-250px {
    width: 250px;
    margin-bottom: 10px;
}

.w-350px {
    width: 350px;
    margin-bottom: 10px;
}