/* ------------------------------------------------------ *\
                  User section list
\* ------------------------------------------------------ */
.users-list {
    height: calc(100% - 200px);
    width: 100%;
    margin: 0;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
  }
  
  .user-block {
    padding: 15px;
    margin: 0;
    display: flex;
    cursor: pointer;
    color: var(--c-white);
  }
  
  .user-block:hover {
    background-color: var(--c-smallMediumDarkShadeCyanBlue);
    color: var(--c-white);
  }
  
  .user-block.current-discussion {
    background-color: var(--c-smallMediumDarkShadeCyanBlue);
    border-right: 5px solid var(--c-silver);
  }
  
  .user-block .user-img {
    max-width: 60px;
    height: auto;
  }
  
  .user-block .user-img img {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
  }
  
  .user-block .user-descr {
    display: grid;
    text-align: left;
    align-content: center;
    padding: 0 10px;
  }
  
  .user-block .user-descr .user-name {
    font-weight: 600;
  }
  
  .user-block .user-descr .user-lastmessage {
    font-weight: 400;
  }